Language: Cpp
BasedOnStyle: Microsoft
PointerAlignment: Middle
SpaceAroundPointerQualifiers: Both
UseTab: Always
TabWidth: 4
IndentWidth: 4
ContinuationIndentWidth: 4
AccessModifierOffset: -4
Cpp11BracedListStyle: false
BreakBeforeBinaryOperators: All
BreakBinaryOperations: RespectPrecedence
BreakConstructorInitializers: BeforeColon
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: None
BinPackArguments: false
BinPackParameters: false
